/* Font Family */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

* {
    font-family: "Josefin Sans", sans-serif;
}

.hidden {
    display: none;
}

.img-imex {
    width: 30%;
}

/* Login background */

.body-login {
    background-image: url(image/LogoPutihImex.png);
}

/* Center Of Website */

/* Sidebar */
.wrapper {
    display: flex;
}

.main-area{
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.40s ease-in-out;
    background-color: white;
}

.badge-for-progress {
    font-size: 18px;
}

.icon-text {
    display: inline-block;
}

#sidebar {
    width: 70px;
    min-width: 70px;
    z-index: 1000;
    transition: all 0.80s ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: #3A5078;
}

#sidebar.expand {
    width: 260px;
    min-width: 260px;
}

#toggle-btn {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    padding: 1rem 1.5rem;
}

#toggle-btn i{
    font-size: 1.5rem;
    color: white;
}

.sidebar-logo {
    margin-right: -100px;
    margin-left: 40px;
}

.sidebar-logo img {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span{
    display: none;
}

.sidebar-nav {
    padding: 2rem 0;
    flex: 1 1 auito;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: white;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background-color: #515C9D;
    border-left: 3px solid #638FF2;
}

.sidebar-item {
    position: relative;
}

#navbar-top.expand {
    width: 70px;
    min-width: 70px;
}

/* Main Area */

/* .main-area {
    background-color: #d2eaff;
} */

/* Color For Card and Accordion*/

/* ini di uncomment */
/* .accordion-body {
    background-color: #A5D5FF;
} */

/* .card {
    background-color: #D2EAFF;
} */

/* .accordion {
    background-color: #D2EAFF;
} */


/* Login Register*/
.gradient-custom {
    /* fallback for old browsers */
    background: #83dddd;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to left, rgba(131, 221, 221, 0.5), rgba(30, 126, 200, 0.502));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to left, rgba(131, 221, 221, 0.5), rgba(30, 126, 200, 0.5))
}

.gradient-custom-2 {
    /* fallback for old browsers */
    background: #c7d1ff;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(199, 209, 255, 0.502), rgba(82, 110, 255, 0.502));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(199, 209, 255, 0.5), rgba(82, 110, 255, 0.5))
}

.gradient-custom-3 {
    /* fallback for old browsers */
    background: #d1ffff;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(214, 239, 255, 0.502), rgba(192, 226, 255, 0.502));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(214, 239, 255, 0.5), rgba(192, 226, 255, 0.5))
}

.gradient-custom-4 {
    /* fallback for old browsers */
    background: #d2eaff;;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to top, rgba(214, 239, 255, 0.502), rgba(106, 178, 241, 0.502));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to top, rgba(214, 239, 255, 0.5), rgba(106, 178, 241, 0.5))
}

.gradient-custom-5 {
    /* fallback for old browsers */
    background: #c2f6ff;

    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to bottom, rgba(194, 246, 255, 0.3), rgba(114, 131, 253, 0.3));

    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to bottom, rgba(194, 246, 255, 0.3), rgba(114, 131, 253, 0.3))
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

@media (min-width: 1025px) {
    .h-custom {
        height: 100vh !important;
    }
}